<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="TCP_PORT" value="50020"/>
		<add key="HTTP_PORT" value="50023"/>		
		<add key="pathfileconflog4net" value="C:\Dev\PAL\Codice\Motore H2O\ServizioMotoreH2OSRV\bin\log4net.xml"></add>
		<add key="BaseTempo" value="365"></add>
	</appSettings>  
	<system.runtime.remoting> 
		<customErrors mode="Off"/> 
	</system.runtime.remoting> 
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
